.DS_Store
02-generador-notas/node_modules/
02-generador-notas/dist/
02-generador-notas/npm-debug.log
02-generador-notas/yarn-error.log
03-componentes/node_modules/
03-componentes/dist/
03-componentes/npm-debug.log
03-componentes/yarn-error.log

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode/